.node-ripple {
    position       : absolute;
    border         : 2px solid var(--blue);
    border-radius  : 50%;
    pointer-events : none;
    opacity        : 0.6;

    &.mule-receiving {
        border-color : var(--red);
        opacity      : 0.8;
    }

    &.locked {
        border-color : var(--amber);
    }
}