#game-page {
    display               : grid;
    grid-template-columns : 1fr;
    grid-template-rows    : 120px 1fr;
    height                : 100vh;
    gap                   : 24px;
    padding               : 24px;

    #play-area .card {
        position : relative;
    }

    /* SCORECARD //////////////////////////////////////////////////////////// */
    #scorecard {
        display               : grid;
        grid-template-columns : repeat(3, 1fr);
    }

    /* PLAY AREA //////////////////////////////////////////////////////////// */
    .react-flow__attribution {
        display : none;
    }

    #play-area .react-flow {
        width    : 100%;
        height   : 100%;
        overflow : hidden;
    }

    #play-area .react-flow__renderer {
        border-radius : var(--global-border-radius);
    }

    .circle-node {
        width            : 40px;
        height           : 40px;
        border-radius    : 4px;
        background-color : #ffffff;
        border           : 1px solid var(--slate-light90);
        display          : flex;
        align-items      : center;
        justify-content  : center;
        font-size        : 12px;
        color            : #333;
        cursor           : pointer;
        transition       : transform 0.1s ease;
        pointer-events   : auto;
        z-index          : 10;
        position         : relative;
        overflow         : hidden;

        img {
            width  : 32px;
            height : 32px;
        }
    }

    /*@media (max-width : 767px) {*/
    /*    .circle-node {*/
    /*        width  : 30px;*/
    /*        height : 30px;*/
    /*    }*/

    /*    .circle-node img {*/
    /*        width  : 40px !important;*/
    /*        height : 40px !important;*/
    /*    }*/
    /*}*/

    .circle-node:hover {
        transform : scale(1.05);
    }

    .circle-node.shaking {
        animation : shake 0.6s ease-in-out;
    }

    .circle-node.locked {
        width            : 48px;
        height           : 48px;
        border-radius    : 50%;
        background-color : #ffffff;
        display          : flex;
        align-items      : center;
        justify-content  : center;
        cursor           : default;
        transition       : transform 0.1s ease;
        pointer-events   : auto;
        z-index          : 10;
        position         : relative;
        overflow         : hidden;

        img {
            width  : 100%;
            height : 100%;
        }
    }

    .circle-node.locked:hover {
        transform : none;
    }

    .transaction-card {
        width            : fit-content;
        z-index          : 15;
        border-radius    : 8px;
        border           : 1px solid var(--slate-light60);
        background-color : white;
        will-change      : transform;
        pointer-events   : none;
        padding          : 6px 12px !important;
        box-shadow       : 0 4px 12px 0 rgba(0, 0, 0, 0.3), 0 6px 24px 0 rgba(0, 0, 0, 0.25);
        transform-origin : center center;

        p {
            font-size   : 14px;
            font-weight : 700;
            text-align  : center;
            margin      : 0;
            color       : var(--slate);
        }
    }

    .mule-account {
        /*background-color : var(--red-light60);*/
        /*border           : 2px solid var(--red);*/
    }

    .node-ripple {
        position       : absolute;
        border         : 2px solid var(--blue);
        border-radius  : 50%;
        pointer-events : none;
        opacity        : 0.6;
    }

    /* MODALS /////////////////////////////////////////////////////////////// */
    [data-modal]#game-over-modal.show-backdrop:popover-open::backdrop {
        background-color : var(--red-dark20-opacity80) !important;
    }

    [data-modal]#victory-modal.show-backdrop:popover-open::backdrop {
        background-color : var(--green-dark20-opacity80) !important;
    }

    .modal-image {
        margin    : 0 auto;
        width     : 50%;
        max-width : 400px;
    }

    #game-over-modal {
        width : 600px;

        .modal-image {
            width     : 100%;
            max-width : unset;
            z-index   : -1;
        }
    }
}

@keyframes shake {
    0%, 100% {
        transform : translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform : translateX(-3px);
    }
    20%, 40%, 60%, 80% {
        transform : translateX(3px);
    }
}

@keyframes spin {
    0% {
        transform : rotate(0deg);
    }
    100% {
        transform : rotate(360deg);
    }
}

