.theme-light {
    --font-sans-serif      : "Determination", sans-serif;
    --font-serif           : "IBM Plex Serif", serif;
    --font-mono            : "IBM Plex Mono", monospace;

    --global-border-radius : 0;

    --heading-text-colour: var(--black);
}
